################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/c++/Rockpaperscissors/.vs/ConsoleApplication1/v16
